<html>  
    <head>
        <meta charset="UTF-8"/>
        <title> Organiza Tarefas </title>
        {% load staticfiles %}
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}"/>
        <link rel="stylesheet" href="{% static "css/adicionar.css" %}"/>
        <link rel="stylesheet" href="{% static "admin-lte/css/AdminLTE.min.css" %}"/>
        <meta content="width=divice-width, inital-scale=1, maximum-scale=1, user-scalable=no" name="view"/> 
    </head>

    <body>
        <div class="formulario">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title descricaoTitulo">Registro de Tarefas</h3>
                </div>

                <div class="panel-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for campo in form %}
                            <div class="input-group">
                                {{campo.label}}
                                 <span class="input-group-addon">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                </span>
                                {{campo}}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-info format">
                            Salvar
                        </button>
                        {% comment %}<label for="">Título Tarefa</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-book" aria-hidden="true"></i>
                            </span>
                            <input type="text" name="{{title}}" required="required"  class="form-control" placeholder="Título tarefa...">
   
                        </div>

                        <label for="">Descrição da tarefa</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </span>
                            <input type="text" name="{{descricao}}" required="required" class="form-control" placeholder="Descrição...">
                        </div>

                        <label for="">Descricao Detalhada</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </span>
                            <textarea class="form-control" type="text" required="required" placeholder="Descrição detalhada..."></textarea>
                        </div>

                        <label for="">Data início da tarefa</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            </span>
                            <input type="date" required="required" class="form-control"/>
                        </div>
                        
                        <label for="">Data final da tarefa</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            </span>
                            <input type="date" required="required" class="form-control"/>
                        </div>

                        <button type="submit" class="btn btn-info format">
                            Salvar
                        </button>{% endcomment %}
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            {% csrf_token %}
            {% for tarefas in object_list %}
            	{{tarefas}}
			{% endfor %}
        </div>
    </body>