@import url('https://fonts.googleapis.com/css?family=Lato');
*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: none;
	outline: none;
	font-weight: 300;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body{
	background-color: white;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
}

hr{
	background-color: #F44336 !important;
	height: 5px !important;
}
.section-heading{
	font-size: 1.4em;
	margin-left: 8%;
	color: #fff !important;
}

.section-heading-add{
	color: black;
	text-align: center;
	font-size: 2.3em;
	font-family: 'Lato', sans-serif;
}



.avatarImgs{
	margin: 0 auto;
	display: inline-block;
	position: relative;
	width: 140px;
	height: 140px;
	border-radius: 80px 80px 80px 80px;
	border: 5px solid white;
}

/*Parte Inicial topBannner*/
.btn-menu{
	width: 56px;
	height: 56px;
	float: right;
	text-align: center;
	color: #fff;
	cursor: pointer; 
	background-color: rgba(118,255,3,.8);
}

/* MENU */
.btn-close{
	font-size: 1.5em;
	color: #fff;
	float: right;
	cursor: pointer;
	margin: 2% 3% 0 0; 
}

.menu{
	/*display: none ;*/
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,.9);
	top: 0;
	left: 0;
}

.menu ul {
	list-style: none !important;
    display: inline;
	width: 100%;
	float: left;
	text-align: center;
	font-weight: 700;
}

.menu li{
	padding: 1.5%;
}

.menu li a{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 1.2em;
	color: #fff;
	padding: 1.5% 3%;
}

.menu li a:hover{
	border: 1px solid #76FF03;
}

/* BANNER */
.banner{
	width: 100%;
	height: 350px;
	float: left;
	text-align: center;
	padding: 3% 4%;
	background: url(/static/img/fundo.png) no-repeat fixed; 
	background-size: cover; 
	background-attachment:  fixed;
	background-position: center;
	margin-bottom: 5%;	
}

.title{
	width: 100%;
}

.title h2{
	font-size: 2.3em !important;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 0 1em #4c4c4c;
	font-weight: 900;
	text-transform: uppercase;
}


.title h5{
	margin-bottom: 5%;
	font-size: 1.5em;
	color: #fff;
}

/*MOSTRANDO TAREFAS */
.dados{
	
	width: 100%;
	height: 80%;
	float: left;
	padding: 3% 3%;
	text-align: center;

}

.dado{
	width: 100%;
	background-color: #00695C;
	box-shadow: 2px 2px 2px 2px #8B8989;
	-webkit-box-shadow: 2px 2px 2px 2px #CDC9C9;
	-moz-box-shadow: 2px 2px 2px 2px #CDC9C9;
	text-align: center;
	border-radius: 2px;
	margin-top: 2%;
	
}

.dados h1{
	font-size: 2em;
	text-align: center;
	color:white;
	font-weight: 700;
	margin-bottom: 2px;

}


.inner{
	padding: 2%;
}

.inner h4{
	font-size: 1.2em;
	color: white;
	margin-top: 2%;
}

.inner h3{
	margin-top: 2%;
	font-size: 1.2em;
	font-style: italic;
	color: yellow;
	text-align: right;
}

p{
	text-align: justify;
}
.tituloBanco{
	color: #1976D2;
	font-family: 'Lato', sans-serif;
	font-style: 900 !important;
	font-size: 1.2em;
	text-align: center !important;
}

.tituloBancos{
	color: yellow;
	font-family: 'Lato', sans-serif;
	font-style: 900 !important;
	font-size: 1.2em;
	text-align: center !important;
}
.dataFinal{
	font-size: 1.2em;
	font-style: italic;
	color: yellow;
	text-align: right;
}

.edicao{
	padding-left: 5%;
	padding-right: 5%;
	margin-top: -2px !important;
	float: right;
	position: relative;
	display: block;
	font-size: 20px;
}

/*TRECHO*/
.section-heading {
	margin-top:0;
	line-height:1.4;
	font-size:34px;
	color:#111;
	text-align: center;
}

hr {
	max-width: 100px;
	border-color:#f05f40;
	border-width:3px;
	margin: 0 auto;
}


/*TRECHO*/


.ponteiro{
	margin-bottom: 20px;
}
.ponteiro:hover{
	cursor: pointer;
	background-color: #ddd;
   	width: 300px;
   	padding: 10px;
    
}
/* RODAPÉ */
.footerRodape{
	width: 100%;
	float: left;
	padding: 3% 4%;
	text-align: center !important;
	background: linear-gradient(to right, black, #181817);
}

.social-icons a{
	font-size: 1.5em;
	color: rgba(255,255,255,0.7);
	margin-right: 3%;
}

.social-icons a:last-child{
	margin-right: 0;
}

.social-icons a:hover{
	color: rgb(255,255,255);
}

.copyrightFooter{
	text-align: center !important;
	margin-top: 2%;
	color: rgba(255,255,255,0.7);
}

/*========== MOBILE FIRST ==========*/
/*SMALL DEVICES - SMARTPHONES*/
@media screen and (min-width: 480px){
	.btn-saiba{
		font-size: 2em;
	}

	.servico {
		
		height: 220px;
	}

	.title h2{
		font-size: 3.3em;
	}

	.title h3{
		font-size: 2.3em;
	}
}

/*SMALL DEVICES - TABLETS*/
@media screen and (min-width: 768px){
	.button{
		width: 10%;
		margin-top: 2%;
		float: right;
		font-size: 0.8em;
	}

	.button i{
		float: right;
		
	}

	.servico {
		width: 31%;
		height: 220px;
		display: inline-block;
		margin-right: 2%;
	}

	.servicos:nth-child(2){
		margin-right: 0;
	}

	.title h2{
		font-size: 3.5em;
	}

	.title h3{
		margin-bottom: 5%;
		font-size: 2.5em;
	}
}


/*MEDIUM DEVICES - TABLETS & DESKTOPS*/
@media screen and (min-width: 960px){
	.banner{
		height: 300px;
	}

	.title{
		margin: 0 auto;		
	}

	.title h2{
		font-size: 3.5em;
	}

	.title h3{
		font-size: 2.5em;
	}

	.buttons{
		width: 30%;
		float: right;
	}


	.btn-menu{
		display: none;
	}

	.btn-close{
		display: none;
	}

	.menu{
		width: auto;
		height: 56px;
		line-height: 56px;
		float: right;
		background-color: #f5f5f5;
	}

	.menu ul{
		background-color: black;
		display: inline-block;


	}
	.menu li{
		background-color: rgba(255,255,255,0.05);
		list-style: none;
		font-size: 1.2em;
		padding: 0;
		float: left;
		font-weight: 700;
	}

	.menu li a{
		color: #130400;
		font-size: 1em;
		padding: 15px;
		color: white;
	}

	.menu li a:hover{
		border: none;
		color: #76FF03;
		background-color: rgba(255,255,255,0.08);
	}

	.f-menu{ 
		z-index: 9999; 
		position: fixed; 
		left: 0; 
		top: 0; 
		width: 100%;
		background-color: rgb(0,0,0);
	}
}

/*LARGE DEVICES - WIDE SCREENS*/
@media screen and (min-width: 1024px){

	.banner{
		height: 300px;
	}

	.title h2{
		padding: 0;
		margin-top: 0;
		margin-bottom: 1px;
		font-size: 4em;
	}

	.title h3{
		margin-top: 1%;
		font-size: 3em;
	}

	.f-menu{ 
		z-index: 9999; 
		position: fixed; 
		left: 0; 
		top: 0; 
		width: 100%;
		background-color: rgb(0,0,0);
	}

	.cabecalho{
		width: 100%;
		height: 100px;
		float: left;
		padding: 1% 4%;
	}


	.menu{	
		float: right;
		display: block;
		position: relative;
	}

	/*.menu ul{
		display: inline-block;
		opacity: 0.9;
		float: right;
	}

	.menu li{
		background-color: rgba(255,255,255,0.05);
		list-style: none;
		font-size: 1.2em;
		padding: 0;
		float: right;
		font-weight: 700;
		top:0;
	}*/

	.menu li a{
		color: #130400;
		font-size: 1em;
		color: white;
	}

	.menu li a:hover{
		border: none;
		color: #76FF03;
		background-color: rgba(255,255,255,0.08);
	}

	/* RODAPÉ */
	.footerRodape{
		width: 100%;
		height: 140px;
		float: left;
		padding: 2% 2%;
		text-align: center;
		background: linear-gradient(to right, black, #181817);
	}
}