@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Lato');
body{
	background-color: #CED1CC;
}


.tituloTarefa{
    text-align: center !important;
    font-weight: 900;
    font-size: 1.8em;
    color: white;
    text-transform: uppercase;
}

.resumoTarefa{
    text-align: justify;
    font-size: 1.1em;
    font-style: italic;
    margin-bottom: 5%;
    color: #616161 !important;
}

.Label{
    margin-top: 3% !important;
    text-align: left;
    font-weight: 900;
    font-size: .9em;
    color: #009688 !important;
}

.descricaoDetalhadaTarefa{
    text-align: justify;
    font-size: 1.1em;
    margin-bottom: 5%;
    color: #616161 !important;
}

.dataTarefa{
    margin-top: 3% !important;
    text-align: right;
    font-size: 1.1em;
    color: #009688 !important;
}
