@charset 'UTF-8';
body{
	background-color: #CED1CC;
}

.exluirTarefas{
    text-align: center;
    font-size: 2em;
    color: black;
    margin-top: 10%;
}

.cardExcluir{
    background-color: white;
}

.tituloBanco{
    text-align: center;
    font-size: 1.6em;
    font-weight: 900;
}

.centralizar{
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    position:absolute;
    display: none;
}