<html>
    <head>
        <meta charset="UTF-8"/>
        <title> Verificação </title>
        {% load staticfiles %}
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    </head>
    <body>
        {% csrf_token %}
        
        <div class="col-md-1">
            <h1 class="">{{user.get_full_name}}</h1>
            <a href="sair" class="btn btn-primary btn-block btn-flat">Sair</a>    
        </div>        
    </body>
</html>
